.load-more-container {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}


.button {
    background-color: rgb(38, 170, 237);
    color: var(--bg);
    border: none;
    padding: 14px 28px;
    font-size: 1.4rem;
    font-weight: 700;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
    letter-spacing: 0.5px;
}

.button:hover {
    background-color: #398ecf;
}

.button:active {
    transform: scale(0.97);
}